{% extends "_base.html" %}

{# CSS styles #}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock css %}

{# Content #}
{% block content %}
<!-- Main gallery -->
<div class="gallery">
  {% for slide in slides %}
  <div class="gallery-cell{% if slide.extra_class %} {{ slide.extra_class }}{% endif %}"{% if slide.background_image %} {% if slide.lazy_load %}data-bg-image="{{ slide.background_image }}"{% else %}style="background-image: url('{{ slide.background_image }}');"{% endif %}{% endif %}>
    <div class="content-outer-wrapper">
      <div class="content-wrapper">
        <div class="content">
          <h1>{{ slide.headline|safe }}</h1>
          {{ slide.text|safe }}
        </div>
      </div>
    </div>
    {% if slide.photo_attribution %}<div class="attribution"> Photo by {{slide.photo_attribution}}</div> {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}

{# Javascript #}
{% block scripts %}
<script>
window.ASYLUMS_GRANTED = {{ asylums_granted|tojson }}
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="js/app.js"></script>
{% endblock %}
